# --- SECTION NODE/REACT (Frontend) ---
node_modules/
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- SECTION PYTHON (Backend) ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
*.sqlite
*.db

# --- SECRETS ---
secrets.txt
.env
*.env

# --- SYSTÈME ---
.DS_Store
Thumbs.db
.idea/
.vscode/
demo/